{% extends "mybase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}

    {{ super() }}

    <div class="page-header">
        <h1 class="col-md-offset-3">{{ header }}</h1>
    </div>




    <div class="container">
        <div class="col-md-offset-3 col-md-6">
            {% for msg in get_flashed_messages() %}
                <div class="alert alert-success">
                    <button class="close" data-dismiss="alert">&times;</button>
                    {{ msg }}
                </div>
            {% endfor %}

            {% block alter1 %}
            {% endblock %}

            {{ wtf.quick_form(form) }}

            {% block alter2 %}
            {% endblock %}
        </div>
    </div>

{% endblock %}