{% extends "mybase.html" %}

{% block body %}
    {{ super() }}
    <div class="page-header">
        {% if header %}
        <h1>{{ header }}</h1>
        {% endif %}

        {% if info %}
        <p class="lead">{{ info }}</p>
        {%  endif %}


        {% if address %}
        <a href="{{ address }}">link</a>
        {% endif  %}
    </div>

    <div class="col-md-offset-2 col-md-6">
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                {{ msg }}
            </div>
        {% endfor %}
    </div>




{% endblock %}